<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="container pt-3">
    <form class="form-inline">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio1" value="startsWith" checked>
            <label class="form-check-label" for="inlineRadio1">startsWith</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchOptions" id="inlineRadio2" value="contains">
            <label class="form-check-label" for="inlineRadio2">contains</label>
        </div>
        <div class="form-group mb-2">
            <label for="staticText" class="sr-only">Search Text</label>
            <input type="text" class="form-control" id="staticText" name="searchText" value="">
        </div>
        <button class="btn btn-primary mb-2 ml-2" onclick="search();">Search</button>
    </form>
    <%- include('list', {data: data}); %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function search() {
            var form = $("form")[0];
            var formData = new FormData(form);

            $.ajax({
                cache : false,
                url : "/searchResult",
                processData: false,
                contentType: false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    var result = JSON.parse(data);
                    console.log(result)
                    // new EJS({
                    //     url: 'partials/spider-chart.ejs'
                    // }).update(
                    //     document.querySelector('.panel-body.text-center'),
                    //     result
                    // );
                },
                error : function(xhr, status) {
                    alert(xhr + " : " + status);
                }
            });
        }
    });
</script>
</body>
</html>
